<ion-view view-title="goodist" id="goodist">
 <!-- 头部搜索部分 -->
  <header id="header">
    <div class="header-left" ng-click="goBack()">
      <span></span>
    </div>
    <div class="header-center">
      <span></span>
    </div>
    <div class="header-right">
      <span></span>
    </div>
  </header>
 <nav class="nav">
   <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide active"><span>综合</span></div>
            <div class="swiper-slide"><span>11:11</span></div>
            <div class="swiper-slide"><span>销量</span></div>
            <div class="swiper-slide"><span>价格</span></div>
            <div class="swiper-slide"><span>品牌</span></div>
            <div class="swiper-slide"><span>新品</span></div>
            <div class="swiper-slide"><span>服务</span></div>
        </div>
    <!-- 如果需要分页器 -->
    </div>
 </nav>
  <ion-content>
    <ion-refresher
      pulling-text="刷新..."
      on-refresh="refreshGoodsList()">
    </ion-refresher>
    <div class="pro" ng-repeat="item in obj_goodsListData">
      <div class="pro-warp">
        <div class="pro-body">
          <div class="pro-body-des">
            <a ng-href="#/details/{{item.productId}}">
              <img ng-src="{{item.src}}" alt="">
            </a>
            <div class="pro-body-des-text">
              <span>{{item.name}}</span>
              <b>￥{{item.price}}</b>
              <div class="pro-body-des-con">
                <span>{{item.haoping}}%好评</span>
                <span>{{item.buy}}人</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>